<div class="row">
  <div class="col-12 add-card-button text-right">
    <button mat-raised-button color="primary" (click)="openAddCardDialog()">Добавить</button>
  </div>
</div>
<div class="row text-center">
  <div class="col-3 text-center" *ngFor="let card of cards">
    <div class="card-container">
      <div class="card">
        <div class="front">
          <div class="cover text-center card-front-cover">
            <div class="card-word">
              {{ card.word }}
            </div>
          </div>
          <div class="content">
            <div class="text-center">
              <div class="card-transcription">
                {{ card.transcription }}
              </div>
              <div class="card-phrase">
                {{ card.phrase }}
              </div>
            </div>
          </div>
        </div>
        <div class="back">
          <div class="cover text-center card-back-cover">
            <div class="card-word">
              {{ card.translation }}
            </div>
          </div>
          <div class="content">
            <div class="text-center">
              <div class="card-phrase">
                {{ card.translatePhrase }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
