<ng-sidebar-container style="height: 100vh">
  <ng-sidebar
    (onClosed)="onClosedMenu()"

    [opened]="menuOpened"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="true"
    [showBackdrop]="showBackdrop"
    [mode]="menuMode"
    [animate]="true"
    [position]="menuPosition"
    [autoFocus]="false">
    <div class="sidebar" data-color="purple">
      <app-categories
        (selectCategory)="onSelectCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        (addCategory)="onAddCategory($event)"

        [cardsInCategory]="cardsInCategory"
        [selectedCategory]="selectedCategory"
        [categories]="categories">
      </app-categories>
    </div>
  </ng-sidebar>
  <div ng-sidebar-content>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <app-header
          (toggleMenu)="toggleMenu()"

          [categoryName]="selectedCategory ? selectedCategory.name : 'Все'">
        </app-header>
      </nav>
      <div class="content">
        <div class="container-fluid text-center">
          <app-cards
            (addCard)="onAddCard($event)"
            (paging)="paging($event)"

            [cards]="cards"
            [selectedCategory]="selectedCategory"
            [categories]="categories"
            [searchParams]="searchParams"
            [totalCards]="totalCards">
          </app-cards>
        </div>
      </div>
    </div>
  </div>
</ng-sidebar-container>
